body {
  font-family: "Montserrat", sans-serif;
}

.game-nav {
  background-color: rgb(64, 55, 124);
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  max-width: 1100px;
  height: 50px;
}

.game-main {
  background-color: darkslategray;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1100px;
}

.game-footer {
  background-color: darksalmon;
  color: darkslateblue;
  font-weight: 700;
  font-size: 25px;
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  max-width: 1100px;
  height: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 75px;
}

.start,
.hit,
.stay {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 30px;
  border: 5px solid darksalmon;
  font-weight: 600;
}

.player1-title,
.player2-title {
  margin-left: 20px;
}

.player1-score {
  grid-column: 2/3;
}

.player-card-container {
  grid-column: 3/5;
}

.winning-message {
  grid-column: 3;
  display: flex;
  justify-content: center;
}

/* deck of cards */
.deck-of-cards {
  height: 150px;
  width: 120px;
  margin-top: 20px;
  margin-left: 100px;
}

/* player 1 cards go here */
.first-p1-card,
.second-p1-card,
.first-p2-card,
.second-p2-card {
  height: 150px;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#player1-card-container img,
#player2-card-container img {
  height: 150px;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#player1-card-container,
#player2-card-container {
  height: 200px;
}

/* //score span */
#player1TotalScore,
#player2TotalScore {
  font-size: 20px;
  border: 2px solid lightpink;
  padding: 10px;
}
